#kozepdiv{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 1100px;
}
header{
    text-align: center;
}
#udvoz{
    text-align: center;
    font-size: 50px;
}
#fitness{
    color: yellow;
    font-size: 40px;
}
#motto{
    font-size: 20px;
}
body{
    background-color: grey;
}
header{
    background-image: url(kek_eg.jpg);
    width: 100%;
    margin: auto;
}
.list{
    margin: 0px;
}
#navlist{
    margin: 0;
    display: inline;
    list-style: none;
}
.inline{
    display: inline;
    padding-left: 40px;
    font-size: x-large;
}
#color1{
    background-color: blue;
    text-align: center;
}
#color2{
    color: white;
}
h4{
    margin-bottom: 0;
}
.alcimek{
    color: blue;
    margin-left: 30px;
    letter-spacing: 3px;
    font-size: 30px;
}
.alcimlist{
    list-style-type: none;
    font-size: 20px;
}
.lfloat{
    float: left;
    width: 50%;
}
.rfloat{
    float: right;
    width: 50%;
}
/*Szolgáltatások:*/
#napfelelos{
    margin-left: 40px;
}
#kozepdiv2{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 700px;
}
#biggerfont{
    font-size: x-large;
}
/*Kapcsolat:*/
#kozepdiv3{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 650px;
}
.textinp{
    width: 80%;
}
#marginx{
    margin-left: 20px;
    font-size: x-large;
}